* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  display: flex;
  flex: 1 1 25%;
  flex-flow: wrap;
  align-content: ;
  /* border: solid 15px purple; */
}

.cust-info {
  display: flex;
  flex: 1 1 25%;
  flex-direction: column;
  max-width: 100%;
  /* border: solid 15px red;
  background-color: grey; */
  padding: 30px;
  text-align: center;
  font-size: larger;
}

.cust-pfp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 40% 60%;
  max-width: 20vh;
  height: auto;
}

h2 {
  padding-top: 5px;
}

.cust-email {
  color: grey;
  padding: 8px 0px;
}

.cust-address {
  list-style-type: none;
  padding-bottom: 5px;
}

.cust-dates {
  list-style-type: none;
}
